.portfolio-about{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:3rem;
    margin: 3rem 6rem;
}
.portfolio-about .about-title h1{
    padding: 0;
    font-size:80px;
    font-weight: 600;
}
.portfolio-about .about-section{
    display: flex;
    gap:80px;
}
.portfolio-about .about-section .about-left img{
    height:360px;
    width:340px;
    border-radius: 10px;
}
.portfolio-about .about-section .about-right{
    display: flex;
    flex-direction: column;
    gap:80px;
}
.portfolio-about .about-section .about-right .about-para{
    display: flex;
    flex-direction: column;
    font-size:20px;
    font-weight: 500;
    gap: 25px;
}
.portfolio-about .about-section .about-right .about-skills{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.portfolio-about .about-section .about-right .about-skills .about-skill{
    display: flex;
    gap:50px;
    align-items: center;
    transition: 0.3s;
}
.about-skill p{
    min-width:150px;
    font-size: 16px;
    font-weight:500;
}
.about-skill hr{
    outline: none;
    border: none;
    width:50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg,#df8908 -5.05%,#b415ff 106.28%);
}
.about-achievements{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}
.about-achieve{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;

}
.about-achieve h1{
    font-size: 50px;
    font-weight: 500;
    background: linear-gradient(280deg, #df8908 50.41%,#b415ff 90.35% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-achieve p{
    font-size: 20px;
    font-weight: 500
}
.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.about-achieve:hover{
    transform: scale(1.12);
    transition: 0.5s;
}
@media(max-width:768px){
    .portfolio-about{
        gap: 80px;
        margin: 50px 70px;
        align-items: start;
    }
    .about-title{
        font-size: 50px;
        padding: 0;
    }
    .about-section{
        flex-direction: column;
    }
    .about-left{
        display: none;
    }
    .about-para{
        font-size: 18px;
        line-height: 32px;
    }
    .about-skill{
        gap:20px;
        align-items: center;
    }
    .about-skill p{
        font-size: 20px;
    }
    .about-skill hr{
        height: 6px;
    }
    .about-achievements{
        justify-content: space-between;
    }
    .about-achieve{
        gap: 10px;
    }
    .about-achieve h1{
        font-size: 34px;
        font-weight: 700;
    }
    .about-achieve p{
        text-align: center;
        font-size: 16px;
    }
}